<div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        <br>
        About TOFAS
      </h3>

      <article class="blog-post">
        <h2 class="display-5 link-body-emphasis mb-1">General Overview</h2>
        <p class="blog-post-meta">July 31, 2023 by <a href="#">Seyma</a></p>

        <p>Tofaş’s production capacity, export performance, R&D competencies, and workforce of nearly six thousand make it one of Türkiye’s leading industrial concerns.</p>
        <hr>
        <p>Türkiye’s trailblazing automotive manufacturer, Tofaş was founded in 1968.</p>
        <hr>
        <p>24.3% of Tofaş’s shares are traded on Borsa İstanbul and are included in both the BIST 30 and the BIST 100 indexes; control of the remaining shares is divided equally between Koç Holding Stellantis. Tofaş’s publicly-traded shares are also included in Borsa İstanbul’s Corporate Governance and Sustainability indexes.</p>
        
      </article>
    </div>
    
    <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
          <div class="p-4 mb-3 bg-body-tertiary rounded">
            <h4 class="fst-italic">OUR VISION</h4>
            <p class="mb-0">To be a leading automotive company that shapes customer expectations and is a source of pride.</p>
          </div>
  
        </div>
      </div>
    <div class="col-md-8">
        <article class="blog-post">
          <h2 class="display-5 link-body-emphasis mb-1">Subsidiaries</h2>  
          <p>Koç Fiat Kredi provides financing for all FIAT, Alfa Romeo, LANCIA, and Iveco new and second-hand vehicles which are manufactured in Türkiye under a Fiat Chrysler Automobiles license and/or which are imported into Türkiye. The company also supplies customers with insurance products as well.</p>
          <hr>
          <p>Türkiye’s trailblazing automotive manufacturer, Tofaş was founded in 1968.</p>
          <p>24.3% of Tofaş’s shares are traded on Borsa İstanbul and are included in both the BIST 30 and the BIST 100 indexes; control of the remaining shares is divided equally between Koç Holding Stellantis. Tofaş’s publicly-traded shares are also included in Borsa İstanbul’s Corporate Governance and Sustainability indexes.</p>
          
        </article>
  
      </div>


  </div>