<h3>My Bag</h3>

<!-- <div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
</div> -->

<div class="cart-item" *ngFor="let item of items" class="card ms-3 float-start col-4" class="productbox"
    style="width:fit-content">
    <img [src]="item.imageUrl" class="rounded mx-auto d-block col-9" alt="...">
    <div class="card-body mx-auto">
        <h5 class="card-title mx-auto">{{item.name}} {{item.price | currency:'USD':'symbol'}}</h5>
        <p class="card-text">
            {{item.description | uppercase}}
        </p>
    </div>

    <button (click)="removeToCard(item)" class="btn btn-primary">Remove to Cart </button>

</div>